.gitignore
server/node_modules
client/node_modules
.idea
server/uploads/images/posts/*
server/uploads/images/profile/*
!server/uploads/images/profile/default/
!server/uploads/images/profile/default/**
server/.env
client/.env
server/.dockerignore
client/.dockerignore